{
  "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["*"],
      "rules": {
        "import/no-anonymous-default-export": "off",
        "prettier/prettier": [
          "error",
          {
            "endOfLine": "auto"
          }
        ]
      }
    }
  ]  
}
